.footercontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background: rgb(255 255 255 / 12%);
}.footerlogo{
    width: 10rem;
    height: 10rem;
}.footerlogo >img{
    width: 100%;
}.orangechain{
    font-size: 2rem;
    color: #FACE17;
}.orangechain >span{
    color: #8DC73D;
}.footerSection1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}.footerSection2{
    color: white;
    width: fit-content;
    text-align: center;
    position: relative;
    right: 4rem;
}.brandicons{
    display: flex;
    font-size: 2rem;
    color: white;
    gap: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}.copy{
 color: white;
 text-align: center;
 position: relative;
 bottom: 2rem;
}.brandicons>a:hover{
    transform: scale(1.5);
scale: 1;
}