.CreateAccountMain{
    width: 100%;
    position: relative;
    top: 30rem;
    margin-bottom: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}.CreateAccountMain>h1{
    margin-bottom: 1rem;
}
.Cheading{
    color: white;
}
.InputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 30rem;
    flex-direction: column;
}.combineContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 21vh;
}.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}.formContainer > input{
    border: none;
    color: black;
    background-color: transparent;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 0.2rem;
}.formContainer >input::placeholder{
    color: black;
}
.select{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
}.signup{
    border-radius: 50%;
    height: 51px;
    text-align: center;
    width: 86px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: navajowhite;
    background: black;
    color: white;
    padding: 1rem;
    transition: 1s;
}.signup:hover{
    background-color: white;
    color: black;
}
.formContainer >input:focus{
    border-bottom: 2px solid black;
    outline: none;
}