.search-bar {
background-color: transparent;

    width: 20%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
.products-container {
  /* text-align: center; */
    background: transparent;
    padding: 20px;
    position: relative;
    top: 10rem;
    margin-bottom: 10rem;
  }.products-container>h1{
    color: #FACE17;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;text-align: center;
    margin-bottom: 2rem;
  }
  
  .cards-container {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .orange{
    width: 3rem;
  }.orange img{
    width: 100%;
  }
  .product-card {
    background: #4c4848;
    -webkit-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
    padding: 20px;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    width: calc(33.33% - 20px); 
    box-sizing: border-box;
    transition: box-shadow 0.3s;
  }
  
  .product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .product-link {
    text-decoration: none;
    color: blue;
  }
  .ordernav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }.orgerbtn{
    background: green;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    transition: 1s;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }.orgerbtn:hover{
    background-color: orange;
    color: black;
  }
  .card-description > p{
    color: white;
  }.product-image>img{
    width: 100%;
 }
 .varitycontainer{
  display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 20px;
    position: relative;
    top: 10rem;
    margin-bottom: 10rem;
 }.varitycontainer>h1{
  color: #FACE17;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  margin-bottom: 2rem;
 }